[DEFAULT]
SESAME_SERVER = http://43.240.99.102//openrdf-sesame/repositories/test1
RDF_GRAPH_FORMAT=nt

# BATCH_UPLOAD_RDF and BATCH_UPLOAD_SIZE control how we send data to sesame
# if yes then we send in batches of a given number of files
# if no we send one file at a time
BATCH_UPLOAD_RDF = yes
BATCH_UPLOAD_SIZE = 100


# should we query the store for the number of triples after every upload (yes/no)
# this query takes time, so slows down the process for large tests
# if we don't do this then we estimate the number of triples from the
# number of lines, works for .nt files, divide by a fudge factor of 1.72 to
# account for duplicate lines (measured on Austalk data set)
QUERY_SIZE = no
